.DS_Store
*.parameters.local.json
.bicep/

# Terraform
.terraform/
*.tfstate
*.tfstate.*
.terraform.lock.hcl
terraform/terraform.tfvars
terraform/bootstrap/terraform.tfvars
terraform/backend.hcl
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
